.sidebar
  @extend .col-md-2
main
  @extend .col-md-10
  float: right
  .content
    margin-top: 180px
  .content-block
    &.half
      @extend .col-md-5
      margin-right: 5px
      &:nth-child(:odd)
        @extend .offset-md-1
    &.full
      @extend .col-md-10


