ul
  padding: 0
  margin: 0

  li
    transition: all .5s
    list-style-type: none
    padding: 1em .5em
    transform: translate3d(-140px, 0, 0) skewY(-160deg)
    transform-origin: 0 0;
    a,i
      font-size: 1.5em
      color: $odvwhite
    i
      font-size: 4em
      float: right
      padding-top: .8em
    &.is-hover
      transform-origin: -215px 0;
      transform: translate3d(0, 0, 0) skewY(-160deg)
    &:nth-child(1)
      background: $odvred
    &:nth-child(2)
      background: $odvblue
    &:nth-child(3)
      background: $odvorange
    &:nth-child(4)
      background: $odvyellow
    &:nth-child(5)
      background: $odvgreen
