@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700')

body
  background: #111
  width: 100vw
  height: 100vh
  font-family: 'Lato', sans-serif

.bg, .wrap
  background-size: cover!important
  background-position: center
  height: 100vh
  width: 100vw
  opacity: 0.5
  position: absolute
  top: 0
  left: 0
  z-index: 1

.wrap
  z-index: 2
  opacity: 1
  width: 100vw
  height: 100vh
