.heading
  padding: .4em
  position: absolute
  background: rgba($odvred, .8)
  top: 10px
  right: 50px
  color: #000
  text-transform: uppercase
  line-height: 1em
  .lower
    display: block
    color: #fff
