<nav>
  <ul>
    {{ side-bar/odv-link name="Home" }}
    <li><a href="">Services</a></li>
    <li><a href="">Portfolio</a></li>
    <li><a href="">Projects</a></li>
    <li><a href="">Contact</a></li>
  </ul>
</nav>
{{yield}}