{{!-- {{responsive-background image="bg.jpg" class='bg'}} --}}
<div class="wrap">
  {{side-bar}}
  <main>
    {{ odv-heading }}
    <div class="row content">
      {{ odv-content-block class='half' }}
      {{ odv-content-block class='half' }}
      {{ odv-content-block class='full' }}
      {{ odv-content-block class='half' }}
      {{ odv-content-block class='half' }}
    </div>
  </main>
  {{outlet}}
</div>